h1,
h2 {
    font-family: 'Roboto Slab', serif;
}

p, body {
    font-family: 'Fira Sans', sans-serif;
}

img {
    width: 40%;
    height: 40%;
}

.title {
    margin-left: 2rem;  
}

.title p {
    max-width: 40%;
}

.bubbles {
    stroke-width: 1px;
    stroke: white;
}

.bubbles:hover {
    stroke: black;
}

.sankeyLink {
    fill: none;
    stroke-opacity: .2;
}

.sankeyLink:hover {
    stroke-opacity: .5;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.text-and-viz {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2rem;  
    margin-right: 2rem;
    margin-bottom: 5rem;
}

.text-and-viz p {
    max-width: 50%;
    text-align: justify;
}


.text-and-viz ul {
    max-width: 50%;
    text-align: justify;
}

.text-and-viz-vertical {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    min-height: 40rem;
}

.text-and-viz-vertical p {
    max-width: 25rem;
    text-align: justify;
}

button {
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

button:hover {
    background-color:#002ead;
    transition: 0.3s;
}

.selected {
    background-color:#002ead;
}

select {
    text-align: center;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}