h1,
h2 {
    font-family: 'Roboto Slab', serif;
}

p, body {
    font-family: 'Fira Sans', sans-serif;
}

/*
p {
   width: 100px;
}
*/

.titleAndPhoto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bubbles {
    stroke-width: 1px;
    stroke: white;
}

.bubbles:hover {
    stroke: black;
}

.sankeyLink {
    fill: none;
    stroke-opacity: .2;
}

.sankeyLink:hover {
    stroke-opacity: .5;
}


.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.textAndGraph {
    display: flex;
}

.textAndGraph:first-child {
    flex: 1;
    border: 2px solid yellow;
}  

.left-section {
    width: 50%;
    padding-right: 10%;
}

.right-section {
    width: 50%;
    margin-right: 5%;
}

.text-and-viz {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-and-viz-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}
