#capybaraTitleImage {
    width: 30%;
    height: auto;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.titleAndPhoto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-section {
    margin-left: 2rem;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.8;
    shape-rendering: crispEdges;
}