#capybaraTitleImage {
    width: 30%;
    height: auto;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.titleAndPhoto {
    display: flex;
    flex-direction: row;
}
